
#nav, #nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#nav a {
  display: block;
  text-decoration:none;
  width: 10em;
}

#nav li {
  float: left;
  width: 10em;
}

#nav li ul {
  position: absolute;
  width: 10em;
  left: -999em;
}

#nav li:hover ul {
  left: auto;
}
